<!DOCTYPE html>
<html lang="en">
<head>
  <title>SimpleForum</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <%= render partial: "layouts/navbar" %>
  </nav>

  <div class="container-fluid forum-container" role="main">
    <%= yield %>
  </div>

  <footer>
    <%= render partial: "layouts/footer" %>
  </footer>

  <% unless logged_in? %>
    <%= render template: "/sessions/new" %>
    <%= render template: "/users/new" %>
  <% end %>
</body>
</html>
